on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: hello
        with:
          asana-secret: ${{ secrets.ASANA_ACCESS_TOKEN }}
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
      - name: Get the name of PR
        id: name
        run: echo "The name of the PR is ${{ github.event.commits[0].message}}" 
        command: |
            echo '{ "name_pr": '${{ github.event.commits[0].message}}' }' >> ./asanaProject.py
