on: 
  pull_request:
      types: [opened, reopened]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: hello
        with:
          asana_secret: ${{ secrets.ASANA_ACCESS_TOKEN }}
          pr_name: ${{ github.event.pull_request.title}}
          pr_is_merge: ${{ github.event.pull_request.merged == true}}
      - name: Get the name of PR
        id: name
        run: echo "The name of the PR is ${{ github.event.pull_request.title}} "
      - name: Get the state of PR
        id: state
        run: echo "The PR is merge => ${{github.event.pull_request.merged == true}} "
